<!-- HTML FILE (embedded JS) (NodeJS uses this to talk to the frontend)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams Clone</title>

    <!-- Importing styling elements -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <!-- Importing all the necessary dependencies -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    
    <!-- Importing the room id from the server-->
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
</head>
<body>
    <div class="main"> <!-- Dividing the main into three blocks: Video Grid, Control Panel and Chat application -->
        <div class="main__left">
            <div class="main__videos">
                <!-- To display the video streams of the users' -->
                <div id="video-grid">

                </div>
            </div>
            <div class="main__controls"> 
                <!-- First block of controls to let user stream their video, audio or turn them off -->
                <div class="main__controls__block">
                    <div onclick="muteUnmute()" class="main__controls__button main__mute_button">
                        <i class="fas fa-microphone"></i>
                        <span>Mute</span>
                    </div>
                    <div onclick="playStop()" class="main__controls__button main__video_button">
                        <i class="fas fa-video"></i>
                        <span>Stop Video</span>
                    </div>
                </div>
                <div class="main__controls__block">
                    <!-- Second block of controls to allow user to share-screen, use the whiteboard -->
                    <div class="main__controls__button main__share_button"  onclick="startCapture()">
                       <i class="fa fa-eye"></i>
                       <span>Screen Share</span>
                    </div>
                    <div class="main__controls__button board">
                       <i class="fas fa-chalkboard"><a href="https://app.ziteboard.com/" target="_blank"></a></i>
                       <span><a href="https://app.ziteboard.com/" target="_blank">Whiteboard</a></span>
                    </div>
                    <div class="main__controls__button">
                       <i class="fas fa-comment-alt"></i>
                       <span><a href="https://fathomless-chamber-19683.herokuapp.com" target="_blank">Chat Room</a></span>
                    </div>
                 </div>
                 <div class="main__controls__block">
                     <!-- Third block of controls to let the user leave meeting/ logout -->
                    <div class="main__controls__button">
                        <form action="/logout?_method=DELETE" method="POST">  <!-- Overriding POST with delete -->
                            <button type="submit">Leave Meeting</button>
                        </form>
                    </div>
                 </div>
            </div>
        </div>
        <div class="main__right">
            <!-- Chat application for the user to send text messages -->
            <div class="main__header">
                <h6>Chat</h6>
            </div>
            <div class="main__chat_window">
                <ul class="messages">
                    
                </ul>
            </div>
            <div class="main__message_container">
                <input id="chat_message" type="text" placeholder="Type message here...">
            </div>
        </div>
    </div>
    <!-- Import all the functions from scripts.js -->
    <script src="script.js"></script>
</body>
</html>