<!-- HTML FILE (embedded JS) (NodeJS uses this to talk to the frontend)-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams Clone</title>
    <script>
        console.log("<%= roomId %>");
    </script>
</head>
<body>
    Let's build this!!!
</body>
</html>